.data-circle
  display block
  background #fff
  position absolute
  left 70px
  top 50px
  text-align center
  padding 10px
  border-radius 50%
  cursor pointer
  transition opacity 100ms ease

  &:hover
    opacity 0.9
    transition opacity 100ms ease

  &__inner
    display table-cell
    vertical-align middle
    width 80px
    height 80px

  &__title
    color: #4b937f
    margin 0