#map
  display inline-block

.title
  color #fff
  font-weight normal

.country
  stroke black
  stroke-width 0.1

g.buttonhover
  opacity 0.75
  cursor pointer

.tick {
  font-size 10px
}
.text
  font-size 14px

.year,
.data,
.country-name
  font-size 12px

.axis path,
.axis line
  fill none
  stroke #000
  shape-rendering crispEdges

.x.axis path
  display none

.country-area
  cursor pointer

  .area
    transition opacity 100ms ease
    opacity 0.3

.area,
.rect
  fill #286FB7

.line
  fill none
  stroke black
  stroke-width 1px
  opacity 0.3

.country
  cursor pointer
  opacity 0.8
  transition opacity 100ms ease

  &_selected
    opacity 1
    transition opacity 100ms ease

.dot
  fill #fff
  stroke #000
  cursor pointer

.hover-rect
  fill #74B8F1

.selected-countries
  opacity 0.8

.y.axis .tick line
  stroke #777
  stroke-dasharray 2,2

.y.axis .domain
  stroke-width 0

.rect-group
  opacity 0.6

.chart-inner
  fill #fff

.rect-switch,
.area-switch
  cursor pointer
  text
    fill #fff
    opacity 0.5
    transition opacity 100ms ease

  circle
    fill #d2c286
    opacity 0.5
    transition opacity 100ms ease

  &hover
    circle,
    text
      opacity 1
      transition opacity 100ms ease

  &.active
    text
      opacity 1

    circle
      opacity 1