.polygon
  position absolute

  &_first
    left 0

  &_second
    left 380px

  &_third
    right 0

  &_forth
    top 100px
    left 190px

  &_fifth
    top 100px
    right 190px

  &_sixth
    top: 208px;
    left: 380px;

  &__inner
    position relative
    width 240px
    height 200px