.triangle
  &_top
    position absolute
    width 0
    height 0
    border-left 60px solid transparent
    border-right 60px solid transparent
    border-bottom 100px solid #334957

  &_bottom
    position absolute
    width 0
    height 0
    border-left 60px solid transparent
    border-right 60px solid transparent
    border-top 100px solid #334957

  &_top1
    left 0
    top 0

  &_top2
    top: 0
    left 60px

  &_top3
    top 0
    right 0

  &_bottom1
    bottom 0
    left 0

  &_bottom2
    bottom 0
    left 60px

  &_bottom3
    bottom 0
    right 0

  &_color1
    border-bottom-color #334957

  &_color2
    border-top-color #538c97

  &_color3
    border-bottom-color #7fcbbe

  &_color4
    border-top-color #1c353e

  &_color5
    border-bottom-color #b1dcc0

  &_color6
    border-top-color #96cfc0

  &_color7
    border-bottom-color #565c6a

  &_color8
    border-top-color #b4c69e

  &_color9
    border-bottom-color #efb6a3

  &_color10
    border-top-color #3e283f

  &_color11
    border-bottom-color #97903f

  &_color12
    border-top-color #d1ae3a

  &_color13
    border-bottom-color #b8ddbb

  &_color14
    border-top-color #e8e7c8

  &_color15
    border-bottom-color #c9db61

  &_color16
    border-top-color #4b878f

  &_color17
    border-bottom-color #084a5a

  &_color18
    border-top-color #8dc064

  &_color19
    border-bottom-color #d3bcd8

  &_color20
    border-top-color #a957a1

  &_color21
    border-bottom-color #ee75aa

  &_color22
    border-top-color #4e2f8d

  &_color23
    border-bottom-color #fde3d6

  &_color24
    border-top-color #fbd0a5