<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>World Statistics</title>

        <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>

        <script src="http://d3js.org/d3.v3.min.js"></script>
	    <script src="http://d3js.org/queue.v1.min.js"></script>
	    <script src="http://d3js.org/topojson.v1.min.js"></script>
    	<script src="http://d3js.org/d3.geo.projection.v0.min.js"></script>

    </head>
    <body>
        <div class="wrapper">
            <div class="center">

                <div class="header">
                    <h1 class="header__title">World Statistic</h1>
                </div>

                <div class="body">

                    <div class="polygon polygon_first">
                        <div class="polygon__inner">
                            <div class="triangle triangle_top triangle_top1 triangle_color1"></div>
                            <div class="triangle triangle_bottom triangle_top2 triangle_color2"></div>
                            <div class="triangle triangle_top triangle_top3 triangle_color3"></div>

                            <div class="triangle triangle_bottom triangle_bottom1 triangle_color4"></div>
                            <div class="triangle triangle_top triangle_bottom2 triangle_color5"></div>
                            <div class="triangle triangle_bottom triangle_bottom3 triangle_color6"></div>
                        </div>
                    </div>

                    <div class="polygon polygon_second">
                        <div class="polygon__inner">
                            <div class="triangle triangle_top triangle_top1 triangle_color7"></div>
                            <div class="triangle triangle_bottom triangle_top2 triangle_color8"></div>
                            <div class="triangle triangle_top triangle_top3 triangle_color9"></div>

                            <div class="triangle triangle_bottom triangle_bottom1 triangle_color10"></div>
                            <div class="triangle triangle_top triangle_bottom2 triangle_color11"></div>
                            <div class="triangle triangle_bottom triangle_bottom3 triangle_color12"></div>
                        </div>
                    </div>

                    <div class="polygon polygon_third">
                        <div class="polygon__inner">
                            <div class="triangle triangle_top triangle_top1 triangle_color13"></div>
                            <div class="triangle triangle_bottom triangle_top2 triangle_color14"></div>
                            <div class="triangle triangle_top triangle_top3 triangle_color15"></div>

                            <div class="triangle triangle_bottom triangle_bottom1 triangle_color16"></div>
                            <div class="triangle triangle_top triangle_bottom2 triangle_color17"></div>
                            <div class="triangle triangle_bottom triangle_bottom3 triangle_color18"></div>
                        </div>
                    </div>

                    <div class="polygon polygon_forth">
                        <div class="polygon__inner">
                            <div class="triangle triangle_top triangle_top1 triangle_color19"></div>
                            <div class="triangle triangle_bottom triangle_top2 triangle_color20"></div>
                            <div class="triangle triangle_top triangle_top3 triangle_color21"></div>

                            <div class="triangle triangle_bottom triangle_bottom1 triangle_color22"></div>
                            <div class="triangle triangle_top triangle_bottom2 triangle_color23"></div>
                            <div class="triangle triangle_bottom triangle_bottom3 triangle_color24"></div>

                            <a href="/statistic" class="data-circle" ">
                                <span class="data-circle__inner">
                                    <h4 class="data-circle__title">Life expectancy at birth</h4>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="polygon polygon_fifth">
                        <div class="polygon__inner">
                            <div class="triangle triangle_top triangle_top1 triangle_color19"></div>
                            <div class="triangle triangle_bottom triangle_top2 triangle_color20"></div>
                            <div class="triangle triangle_top triangle_top3 triangle_color21"></div>

                            <div class="triangle triangle_bottom triangle_bottom1 triangle_color22"></div>
                            <div class="triangle triangle_top triangle_bottom2 triangle_color23"></div>
                            <div class="triangle triangle_bottom triangle_bottom3 triangle_color24"></div>

                            <a href="/statistic" class="data-circle">
                                <span class="data-circle__inner">
                                    <h4 class="data-circle__title">Freedom in the World</h4>
                                </span>
                            </a>

                        </div>
                    </div>

                    <div class="polygon polygon_sixth">
                        <div class="polygon__inner">
                            <div class="triangle triangle_top triangle_top1 triangle_color13"></div>
                            <div class="triangle triangle_bottom triangle_top2 triangle_color14"></div>
                            <div class="triangle triangle_top triangle_top3 triangle_color15"></div>

                            <div class="triangle triangle_bottom triangle_bottom1 triangle_color16"></div>
                            <div class="triangle triangle_top triangle_bottom2 triangle_color17"></div>
                            <div class="triangle triangle_bottom triangle_bottom3 triangle_color18"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </body>
</html>